<div class="wrapper">

  <img class="bg-image show-desktop-img" src="../assets/images/wellthy_bg.png" alt="">
  <img class="bg-image show-small-img" src="../assets/images/wellthy_bg_small.png" alt="">


  <div class="container">
    <div>
      <img class="logo" src="../assets/images/welthy_logo.png" alt="">
    </div>
    <p class="main-text">Download & install the app for more details</p>

    <div class="d-flex anchor-container">
      <a [ngClass]="{'hide': isiOS}" href=""><img src="../assets/images/google-play-badge.png"></a>
      <a [ngClass]="{'hide': isAndroid}" href=""><img src="../assets/images/app-store-badge1.png"></a>

    </div>
    <div class="contact-box d-flex">
      <p class="info">or, enter your mobile number to get the link</p>
      <div class="d-flex">
        <div class="input-box">
          <input maxlength="10" class="ripple" type="text" [formControl]="number">
          <label for="">+91 <span>^</span> </label>
        </div>
        <button class="ripple" [disabled]="!number.value || number.value.length<10"
          [ngClass]="{'active': status,'loading':loading}" (click)="onClick()">
          <span *ngIf="!status">Get link</span>
          <div class="succes-c">
            <div class="tick">
              <span>✓</span>
            </div>
            <p>
              Sent
            </p>
          </div>
        </button>
      </div>
    </div>
    <div class="footer ">
      <div class="footer-line"></div>

    </div>
  </div>
</div>